<footer>
	{{ version }} |
	Made with 🎈️
	<a href="https://morten.dk">mortendk</a> |
	<a href="https://github.com/mortendk/11tyhub.dev">Source</a> |
	<a rel="me" href="https://mastodon.social/@mortendk">mastodon</a>
</footer>
