<header class="header">
	<h1>11ty Hub</h1>

	<a href="/">
		<div class="icon">
			{% include "rss.svg" %}
		</div>

	</a>

	<nav>
		<a href="/">11ty Hub</a> |
		<a href="/info">info</a> |
		<a href="/feedlist">feedlist</a> |

		<a href="https://11tyhub.dev/feed.rss">feed</a>
	</nav>

</header>
