<header>
<h1 hidden> Eleventy Hub</h1>


<pre class="ascii-awesome">
 ░█▀▀░█░░░█▀▀░█░█░█▀▀░█▀█░▀█▀░█░█░░░█░█░█░█░█▀▄
 ░█▀▀░█░░░█▀▀░▀▄▀░█▀▀░█░█░░█░░░█░░░░█▀█░█░█░█▀▄
 ░▀▀▀░▀▀▀░▀▀▀░░▀░░▀▀▀░▀░▀░░▀░░░▀░░░░▀░▀░▀▀▀░▀▀░
 </pre>

	<a href="https://11tyhub.dev/feed.rss">
		<div class="icon">
			{% include "rss.svg" %}
		</div>
	</a>

	<nav>[
	{%- for item in collections.page -%}
	{% if page.url == item.url %} 🎈{% endif %}
		<a href="{{item.url}}"
		{% if page.url == item.url %} aria-current="page"{% endif %}>
		{{ item.data.title }}</a> |
	{%- endfor -%}
	]
	</nav>
</header>
