---
title: 11ty Hub
permalink: /index.html
eleventyExcludeFromCollections: false

layout: page.njk
---



{# only get the last 20 #}
{% for feed in feeds | sort(true, false, 'pubDate')  %}
	{% if loop.index < 300 %}

<article class="feeditem">

	{{ feed.feedtitle }}
	{{ feed.feedurl }}
	{# {{ feed.feedlink }} #}
	{{ feed.feedbuild  | formatDate("DDD T")  }}
	<h2>
		<div class="icon">
			{% include "rss.svg" %}
		</div>

		<a href="{{feed.link}}" target="_blank">
		{% if feed.title %}
			{{ feed.title | safe }}
		{% else %}
			{{ feed.contentSnippet | striptags(true) | truncate(40, true, "...")  | safe }}
		{% endif %}
		</a>
	</h2>

	<div class="feeditem__content">
		{{ feed.content | striptags(true) | truncate(800, true, "...") | safe }}
	</div>

	<div class="feeditem__meta">


		 Date: {{ feed.pubDate  | formatDate("DDD T") }} <br>

		 id: <a href="{{feed.id}}" target="_blank">{{feed.id}}</a> <br>

		 Link: <a href="{{feed.link}}" target="_blank">{{feed.link}}</a>
	</div>

</article>

	{% endif %}
{% endfor %}
