---
title: 11ty Hub
permalink: /index.html
eleventyExcludeFromCollections: false

layout: page.njk
tags: page
---




{# only get the last 20 #}
{% for feed in feeds | sort(true, false, 'pubDate')  %}
	{% if loop.index < 200 %}

<article>
	<h2>
	{% if 'yt:video' in feed.id %}
		📺
	{% elseif 'tag:github.com' in feed.id %}
		👾
	{% else %}
		🧑🏽‍💻
	{% endif %}

		<a href="{{feed.link}}" target="_blank">
		{% if feed.title %}
			{{ feed.title | safe }}
		{% else %}
			{{ feed.contentSnippet | striptags(true) | truncate(40, true, "...")  | safe }}
		{% endif %}
		</a>
	</h2>

	<p>
		{{ feed.content | striptags(true) | truncate(800, true, "...") | safe }}
	</p>

	<div>
	{{ feed.pubDate  | formatDate("DDD T") }} |
	[<a href="{{ feed.feedlink }}">{{ feed.feedtitle }}</a>]
	</div>

	<div class="ascii">
- + - - - - - - - - - - - - - - - - - - - + - - - - - - + - - - - - - + - - - - - -- + - - - - - - - - - - - - - - - - - - - + - - - - - - + - - - - - - + - - - - - -
	</div>


</article>

	{% endif %}
{% endfor %}
