body {
	background-color: whitesmoke;
	font-family: monospace;
}

a {
	color: #DC2626;
}
a:hover {
	background: LightSalmon
}
main {
	width: 90%;
	margin: 0 auto;
}

@media (min-width: 1280px) {
	main {
		width: 60%;
		margin: 0 auto;
	}
}

header {
	display: flex;
	flex-flow: column;
	justify-items: center;
	place-items: center;
	width: 30rem;
	max-width: 100%;
	margin: 0 auto;
}

@media (min-width: 1280px) {

}

footer {
	text-align: center
}

h1{
	font-weight:normal;
}

h2 {
	font-size: 1.25rem;
	font-weight:normal;
	margin: 0;
}


header h1 {
	font-size: 2rem;
}

.text {
	padding: 2rem 0;
	margin: 0 auto;
	font-size: 1.2rem;
}
@media (min-width: 1280px) {
	.text {
		width: 50%
	}
}

.ascii-awesome {
	color: gray;
	font-family: monospace;
	font-size:1.2rem;
	white-space: pre;
	letter-spacing: -0.2em;
 line-height: 0.8em;
}

.ascii{
	color: grey;
	font-family: monospace;
	white-space: pre;
	letter-spacing: -0.2em;
  line-height: 0.8em;
	max-width: 90%;
	overflow: hidden
}

.icon {
	width: 2rem;
	color: #DC2626
}

h2 a {
	text-decoration: none
}

h2 a:hover{
	text-decoration: underline;
}

input.superawesome {
	height: 2rem;
	width: 30rem;
	margin: 1rem auto;
	text-align: center;
	color: orangered;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.5rem;
}

label {
	display: block;
	font-weight: bold;
}

input {
	height: 2rem;
	width: 30rem;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.5rem;
}

textarea {
	height: 10rem;
	width: 30rem;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.5rem;
}

button {
	padding: 0.5rem;
	background-color: orange;
	border: none;
	font-weight: bold;
	font-size: 0.8rem;
	text-transform: uppercase;
}
