body {
	background-color: whitesmoke;
	color: black;
	font-family: sans-serif;
}

main {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
}

footer {
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	text-align: center
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 2rem;
	margin: 0;
	color: #3B719F
}

.icon {
	width: 2rem;
	color: #FD5956
}

.feeditem {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #D8DCD6
}

.feeditem .icon {
	color: #abada9
}
.feeditem h2 a {
	color: #3B719F;
	font-weight: light;
	text-decoration: none
}

.feeditem h2 a:hover{
	text-decoration: underline;
}

.feeditem__content {

}

.feeditem__meta {
	margin: 1rem;
}
