<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="generator" content="{{eleventy.generator}}">

	<link rel="alternate" href="/feed.rss" title="11ty hub" type="application/rss+xml">
	<script defer data-domain="11tyhub.dev" src="https://plausible.io/js/script.js"></script>
	<title>Eleventy Hub</title>
	<link href="{{ '/assets/style.css' | url }}" rel="stylesheet">

  <meta name="description" content="Aggregated RSS feeds from the 11ty Project">

	<meta property="og:url" content="https://11tyhub.dev">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Eleventy Hub">
	<meta property="og:description" content="Aggregated RSS feeds from the 11ty Project">
	<meta property="og:image" content="/assets/facebook.jpg">

	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="11tyhub.dev">
	<meta property="twitter:url" content="https://11tyhub.dev">
	<meta name="twitter:title" content="Eleventy Hub">
	<meta name="twitter:description" content="Aggregated RSS feeds from the 11ty Project">
	<meta name="twitter:image" content="/assets/twitter.jpg">
</head>
<body>

{% include "header.njk" %}

<main>
	<h2>{{ title }}</h1>

	{{ content | safe }}

</main>

{% include "footer.njk" %}
{# Service worker #}
<script>
	if (navigator && navigator.serviceWorker) {
		navigator
			.serviceWorker
			.register('/service-workers.js');
	}
</script>

</body>
</html>
